

<h1>Listing employees</h1>

<table class = "table table-bordered table-striped">
  <tr>
  	<th>Username</th>
  	<th>Email</th>
  	<th>First Name</th>
	<th>Last Name</th>
	<th>Street</th>
	<th>City</th>
	<th>State</th>
	<th>Zip</th>
	<th>Country</th>
	<th>Phone Number</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Destroy</th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
	<td><%= employee.username %></td>
	<td><%= employee.email %></td> 
	<td><%= employee.first_name %></td>     
	<td><%= employee.last_name %></td>  
	<td><%= employee.street %></td>  
	<td><%= employee.city %></td>
	<td><%= employee.state %></td>    
	<td><%= employee.zip %></td>  
	<td><%= employee.country %></td>  
	<td>(<%= employee.area_code %>) <%= employee.phone_number%></td>
	
			
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
