

<h1>Customer Artist Preference Report for:</h1>
<h1><%= @customer.last_name %> <%= @customer.first_name %></h1>

<table class = "table table-bordered table-striped">
	<tr>
		<th>Artist Name</th>
		<th>Country</th>
		<th>Date Sold</th>
	</tr>
	<% @transactions.each do |k| %>
		<% unless k.work.date_sold.blank? %>
		<tr>
			<td><%= k.work.artist.last_name %>, <%= k.work.artist.first_name %></td>
			<td><%= k.work.artist.country %></td>
			<td><%= k.work.date_sold %></td>
		</tr>
		<% end %>
	<% end %>
</table>